<a href="https://colab.research.google.com/github/tejaswini-66/IP-PRAC/blob/main/YBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd

In [33]:
df=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/BitcoinPricePrediction.csv')

In [34]:
df.head()

,Date,opening_price,highest_price,lowest_price,closing_price,transactions_in_blockchain,avg_block_size,sent_by_adress,avg_mining_difficulty,avg_hashrate,...,avg_transaction_value,median_transaction_value,tweets,google_trends,active_addresses,top100_to_total_percentage,avg_fee_to_reward,number_of_coins_in_circulation,miner_revenue,next_day_closing_price
0,2013-04-01,93.0,106.0,92.2,104.0,52572,139256,48809,6695826,6.550211e+13,...,2592.0,64.987,8193.0,15.248,75756.0,19.962,0.867,10975275.0,481891.360000,118.0
1,2013-04-02,104.0,118.4,99.0,118.0,63095,175443,62276,6695826,6.184560e+13,...,4400.0,94.955,8193.0,17.192,91875.0,20.024,1.338,10988125.0,531299.503749,135.0
2,2013-04-03,118.0,147.0,110.0,135.0,63766,184209,69174,6695826,6.027037e+13,...,4478.0,102.533,8193.0,26.608,107142.0,19.987,1.596,10986575.0,538423.880210,132.1
3,2013-04-04,135.0,142.1,116.4,132.1,66738,221568,71753,6695826,5.527246e+13,...,4249.0,123.314,8193.0,24.681,108890.0,19.990,1.948,10995725.0,525157.600000,142.3
4,2013-04-05,132.1,144.9,130.2,142.3,61215,190067,69310,7005058,5.181545e+13,...,4348.0,125.183,8193.0,20.514,100034.0,19.833,1.432,10999925.0,606454.781556,142.6

In [35]:
df.tail()

,Date,opening_price,highest_price,lowest_price,closing_price,transactions_in_blockchain,avg_block_size,sent_by_adress,avg_mining_difficulty,avg_hashrate,...,avg_transaction_value,median_transaction_value,tweets,google_trends,active_addresses,top100_to_total_percentage,avg_fee_to_reward,number_of_coins_in_circulation,miner_revenue,next_day_closing_price
3088,2021-09-14,44950.2,47247.6,44718.7,47077.5,267959,599399,472333,18415156832118,1.555172e+20,...,1932378.0,717.117,91267.0,108.864900,793939.0,15.218,1.394,18816150.00,4.946986e+07,48130.6
3089,2021-09-15,47070.8,48436.5,46743.9,48130.6,268815,736726,459889,18415156832118,1.330283e+20,...,702497.0,773.643,109407.0,111.309556,823392.0,15.186,1.887,18817025.00,4.302687e+07,47748.0
3090,2021-09-16,48132.3,48480.6,47040.3,47748.0,271087,817607,436025,18415156832118,1.302297e+20,...,766989.0,719.701,90855.0,113.459125,879832.0,15.185,1.938,18817900.00,4.144786e+07,47282.8
3091,2021-09-17,47748.2,48155.9,46788.8,47282.8,270893,720056,384965,18415156832118,1.272835e+20,...,612387.0,714.990,101046.0,116.526571,823793.0,15.177,1.605,18818781.25,4.500074e+07,48306.7
3092,2021-09-18,47283.9,48761.0,47070.5,48306.7,227506,563189,248478,18415156832118,1.428505e+20,...,638205.0,593.076,82649.0,122.004333,701986.0,15.185,1.183,18819662.50,4.781768e+07,47328.0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3093 entries, 0 to 3092
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            3093 non-null   object
 1   opening_price                   3093 non-null   float64
 2   highest_price                   3093 non-null   float64
 3   lowest_price                    3093 non-null   float64
 4   closing_price                   3093 non-null   float64
 5   transactions_in_blockchain      3093 non-null   int64
 6   avg_block_size                  3093 non-null   int64
 7   sent_by_adress                  3093 non-null   int64
 8   avg_mining_difficulty           3093 non-null   int64
 9   avg_hashrate                    3093 non-null   float64
 10  mining_profitability            3093 non-null   float64
 11  sent_coins_in_usd               3093 non-null   int64
 12  avg_transaction_fees            3093 non-null   float64
 13  median_transaction_fees         3093 non-null   float64
 14  avg_block_time                  3093 non-null   float64
 15  avg_transaction_value           3093 non-null   float64
 16  median_transaction_value        3093 non-null   float64
 17  tweets                          3093 non-null   float64
 18  google_trends                   3093 non-null   float64
 19  active_addresses                3093 non-null   float64
 20  top100_to_total_percentage      3093 non-null   float64
 21  avg_fee_to_reward               3093 non-null   float64
 22  number_of_coins_in_circulation  3093 non-null   float64
 23  miner_revenue                   3093 non-null   float64
 24  next_day_closing_price          3093 non-null   float64
dtypes: float64(19), int64(5), object(1)
memory usage: 604.2+ KB

In [37]:
df.shape

(3093, 25)

In [38]:
df.describe(include='all')

,Date,opening_price,highest_price,lowest_price,closing_price,transactions_in_blockchain,avg_block_size,sent_by_adress,avg_mining_difficulty,avg_hashrate,...,avg_transaction_value,median_transaction_value,tweets,google_trends,active_addresses,top100_to_total_percentage,avg_fee_to_reward,number_of_coins_in_circulation,miner_revenue,next_day_closing_price
count,3093,3093.000000,3093.000000,3093.000000,3093.000000,3093.000000,3093.000000,3093.000000,3.093000e+03,3.093000e+03,...,3.093000e+03,3093.000000,3093.000000,3093.000000,3.093000e+03,3093.000000,3093.000000,3.093000e+03,3.093000e+03,3093.000000
unique,3093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2013-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,7478.787423,7704.451859,7228.984028,7494.347559,212004.408018,644307.604591,315140.438733,5.416214e+12,3.923394e+19,...,5.289076e+04,350.846155,35889.309787,44.134386,4.917852e+05,17.890455,4.084758,1.591747e+07,1.054620e+07,7509.615584
std,NaN,12404.192142,12790.358177,11965.543777,12425.151723,102204.862259,273438.916788,152655.587696,7.181598e+12,5.172006e+19,...,1.223717e+05,459.933644,30663.425155,56.718282,2.617263e+05,2.384311,5.462011,2.255772e+06,1.320106e+07,12445.065991
min,NaN,68.400000,75.000000,50.000000,68.400000,30170.000000,76067.000000,30829.000000,6.695826e+06,5.181545e+13,...,8.893450e+02,0.091700,7300.000000,3.821000,4.840200e+04,13.144000,0.183000,1.097528e+07,3.099004e+05,68.400000
25%,NaN,427.100000,435.300000,417.100000,427.300000,106160.000000,410596.000000,173768.000000,4.764340e+10,3.506746e+17,...,4.389000e+03,110.480000,18727.000000,8.707000,2.362800e+05,15.458000,0.718000,1.416458e+07,1.458738e+06,427.600000
50%,NaN,2541.600000,2617.500000,2472.400000,2545.400000,229295.000000,730092.000000,335962.000000,7.086595e+11,5.168519e+18,...,1.559100e+04,206.481000,25897.000000,29.850000,5.161620e+05,18.639000,1.447000,1.640969e+07,5.461151e+06,2558.400000
75%,NaN,8820.100000,9040.300000,8610.800000,8821.600000,296817.000000,880952.000000,428831.000000,9.985348e+12,7.263994e+19,...,3.674800e+04,453.410000,39572.772727,49.354000,6.728410e+05,19.834000,5.547000,1.786376e+07,1.478203e+07,8829.200000
max,NaN,63544.200000,64778.000000,62067.500000,63540.900000,490459.000000,998092.000000,730199.000000,2.504649e+13,1.976095e+20,...,1.932378e+06,5417.000000,363566.000000,616.867000,1.196069e+06,22.081000,43.580000,1.881966e+07,8.017224e+07,63540.900000

In [39]:
df.columns

Index(['Date', 'opening_price', 'highest_price', 'lowest_price',
       'closing_price', 'transactions_in_blockchain', 'avg_block_size',
       'sent_by_adress', 'avg_mining_difficulty', 'avg_hashrate',
       'mining_profitability', 'sent_coins_in_usd', 'avg_transaction_fees',
       'median_transaction_fees', 'avg_block_time', 'avg_transaction_value',
       'median_transaction_value', 'tweets', 'google_trends',
       'active_addresses', 'top100_to_total_percentage', 'avg_fee_to_reward',
       'number_of_coins_in_circulation', 'miner_revenue',
       'next_day_closing_price'],
      dtype='object')

In [40]:
df['opening_price']

0          93.0
1         104.0
2         118.0
3         135.0
4         132.1
         ...
3088    44950.2
3089    47070.8
3090    48132.3
3091    47748.2
3092    47283.9
Name: opening_price, Length: 3093, dtype: float64

In [41]:
df['opening_price'].shape

(3093,)

In [42]:
df['opening_price'].unique()

array([   93. ,   104. ,   118. , ..., 48132.3, 47748.2, 47283.9])

In [43]:
df['opening_price'].nunique()

2907

In [44]:
df['opening_price'].value_counts()

238.9      4
233.8      3
109.0      3
231.1      3
237.3      3
          ..
664.4      1
664.6      1
651.1      1
655.2      1
47283.9    1
Name: opening_price, Length: 2907, dtype: int64

In [45]:
df.isna().sum()

Date                              0
opening_price                     0
highest_price                     0
lowest_price                      0
closing_price                     0
transactions_in_blockchain        0
avg_block_size                    0
sent_by_adress                    0
avg_mining_difficulty             0
avg_hashrate                      0
mining_profitability              0
sent_coins_in_usd                 0
avg_transaction_fees              0
median_transaction_fees           0
avg_block_time                    0
avg_transaction_value             0
median_transaction_value          0
tweets                            0
google_trends                     0
active_addresses                  0
top100_to_total_percentage        0
avg_fee_to_reward                 0
number_of_coins_in_circulation    0
miner_revenue                     0
next_day_closing_price            0
dtype: int64

In [46]:
df.isnull().sum()

Date                              0
opening_price                     0
highest_price                     0
lowest_price                      0
closing_price                     0
transactions_in_blockchain        0
avg_block_size                    0
sent_by_adress                    0
avg_mining_difficulty             0
avg_hashrate                      0
mining_profitability              0
sent_coins_in_usd                 0
avg_transaction_fees              0
median_transaction_fees           0
avg_block_time                    0
avg_transaction_value             0
median_transaction_value          0
tweets                            0
google_trends                     0
active_addresses                  0
top100_to_total_percentage        0
avg_fee_to_reward                 0
number_of_coins_in_circulation    0
miner_revenue                     0
next_day_closing_price            0
dtype: int64

Define target & feature
Present X and Y
X: Opening price
Y:closing price

In [47]:
Y = df['closing_price']
X =df[['opening_price']]

In [48]:
X.shape

(3093, 1)

In [49]:
Y.shape

(3093,)

Trian and test split

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train ,X_test,Y_train, Y_test=train_test_split(X,Y)

In [52]:
X_train.shape , X_test.shape,Y_train.shape, Y_test.shape

((2319, 1), (774, 1), (2319,), (774,))

Model selection

In [53]:
from sklearn.linear_model import LinearRegression 
model = LinearRegression()

train model(fit model)

In [54]:
model.fit(X_train,Y_train)

LinearRegression()

In [55]:
model.intercept_

15.17653558371876

In [56]:
model.coef_

array([1.00063791])

Predecition

In [63]:
y_pred = model.predict(X_test)

In [59]:
X_test

      opening_price
2613         8842.3
2959        57330.3
89             94.7
2715        10092.2
2454         7165.5
...             ...
25            141.7
2827        26460.3
771           241.8
313           695.7
2143         3631.8

[774 rows x 1 columns]

Accucray

In [60]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [64]:
mean_absolute_error(Y_test,y_pred)

222.60169347686335

In [65]:
mean_absolute_percentage_error(Y_test,y_pred)

0.04321759093629146

In [66]:
mean_squared_error(Y_test,y_pred)

288120.12935540604